*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(to right,rgb(80, 80, 201),rgb(139, 139, 223));
    
}
#navlist{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(26, 26, 55),rgb(40, 40, 203));
    color: beige;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 11px;
}
#div a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-right: 145px;
}
#div a:hover{
    font-size: 25px;
    color:whitesmoke;
    box-shadow: 5px 5px 19px  rgb(16, 14, 14);
    /* border: 2px solid black; */
}
#leftsection{
    margin-right: 177px;
    font-size: 1.8rem;
}
.contentbox{
    /* to drw it to center put the margin to auto */
    width: 60%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    box-shadow: 3px 3px 30px black;
}
section{
    padding-top: 2px;
    border: 1px solid black;
    margin-top: 12px;
    border-radius: 15px;
    height: 400px;
    padding-top: 48px;
    width: 70%;
    margin: auto;
    box-shadow: 3px 3px 30px black;

}
.leftsection{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.item{
    margin-top: 19px;
    padding-left: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.footerbox{
    width: 100%;
    background-image: linear-gradient(to right,rgb(26, 26, 55),rgb(40, 40, 203));
    color: beige;
    text-align: center;
    min-height: 30px;
    word-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rightbox{
    position: relative;
    transition: all 0.6s ease-in-out;
   
}
.rightbox img{
    border-radius: 10px;
    box-shadow: 3px 3px 30px black;
    width: 210px;
    height: 290px;

}
.rightbox .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(29, 20, 20, 0.775);
    transition: all 0.6s ease-in-out;
    
    color: aliceblue;
    opacity: 0;
}
.rightbox:hover .overlay{
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
    /* opacity: 1; */ 
}
.rightbox:hover{
    transform: scale(1.1);
}



